.Features {
  background: $color-bg-m;
  padding: 40px 0;
  display: flex;
  position: relative;

  &__inner {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  &__text-container {
    order: 2;
    margin-top: 40px;
  }

  &__container {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 3;
    &:nth-of-type(2) {
      margin: 40px 0;
    }

    svg {
      width: 42px;
      min-width: 42px;
      height: 42px;
      margin-right: 20px;
      position: relative;
    }
  }
  &__title {
    font-size: 2.2rem;
    color: $color-purple;
  }
  &__body {
    max-width: 500px;
    font-size: 1.8rem;
    color: $color-text-d-primary;
  }
  &__image-container {
    order: 1;
  }
  &__image {
    width:100%;
    max-width: 600px;
    height: auto;
    box-shadow: 3px 0px 20px 0px rgba(9, 5, 20, 0.3);
  }

  @include whenMedium {
    padding: 60px 0;
  }
  @include whenLarge {
    padding: 100px 0;

    &__inner {
      flex-direction: row;
    }
    &__container {
      margin-left: 40px;
      &:nth-of-type(2) {
        margin: 60px 0 60px 0;
      }
      svg {
        width: 56px;
        min-width: 56px;
        height: 56px;
      }
    }
    &__text-container {
      margin-right: 40px;
      margin-top: 0;

      order: 1;
    }
    &__image-container {
      order: 2;
    }
  }
}
