.Hero {
  background-image: linear-gradient(to right top, #0d0128, #1c053c,#270541, #330346, #2d0234);
  background-size: 300% 300%;
  animation: movingGradient 20s ease infinite;
  background-repeat: no-repeat;
  // background-attachment: fixed;
  position: relative;

  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 300;


  a { color: $color-text-l-secondary; }

  &__nav {
    position: absolute;
    top: 0; right: 0; left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul { display: flex; }
    li {
      margin-left: 40px;
      a {
        font-size: 18px;
        transition: all .3s;
        &:hover {
          color: $color-pink-l;
        }
      }
    }

  }
  &__logo {
    font-size: 22px;
    font-family: $font-serif;
    line-height: 1;
  }

  &__text {
    max-width: 600px;
    text-align: center;
    h1 {
      color: $color-purple-l;
      margin-bottom: 20px;
    }
    p { color: $color-text-l-tertiary; }

    a {
      background: $color-pink;
      color: white;
      padding: 10px 25px;
      border-radius: 40px;
      display: inline-block;
      margin-top: 40px;
      transition: all .3s;
      font-weight: 400;
      position: relative;
      z-index: 3;
      box-shadow: 0px 3px 14px 0px rgba(14, 4, 32, 0.8);
      &:hover { background: $color-pink-l; }
    }
  }
}
