.Newsletter {
  background: $color-purple;
  padding: 30px 0;

  &__inner {
    display: flex;
    align-items: center;
  }
  &__text {
    flex: 1;
    color: $color-text-l-primary;
    font-weight: 300;
    margin-right: 20px;
    h2 {
      color: $color-purple-l;
      font-size: 2.4rem;
    }
    p {
      color: $color-text-l-secondary;

    }
  }
  &__form {
    flex: 1;
    input, button {
      font-size: 1.9rem;
      padding: 10px;
      border: none;
      border-bottom: 3px solid rgba(0,0,0,.0);
      outline: none;
      &:focus, &:active {
        border-bottom: 3px solid orange;
      }
    }
    input {
      width: 66.666%;
      color: $color-text-d-primary;

    }
    button {
      width: 33.333%;
      background: #120236;
      color: $color-text-l-primary;
      cursor: pointer;
    }
  }

}
