* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
  font-size: 62.5%;
}
body {
  font-size: 19px;
  font-size: 1.9rem;
  line-height: 1.6;
  letter-spacing: 1px;
  font-weight: 400;
}
a { text-decoration: none; }
li { list-style: none }
