* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
  font-size: 62.5%;
}
body {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.6;
  letter-spacing: .5px;
  font-weight: 400;
  background: $color-bg;
  font-family: $font-sans;
}
a { text-decoration: none; }
li { list-style: none }
h1, h2, h3 { font-family: $font-serif; }
