// media queries
@mixin whenLarge() {
    @media only screen and (min-width: 960px) {
        @content;
    }
}
@mixin whenMedium() {
    @media only screen and (min-width: 600px) {
        @content;
    }
}

// colors
$color-text-l-primary: #e8e4f1;
$color-text-l-secondary: #d1ccdd;
$color-text-l-tertiary: #bab5c7;

$color-text-d-primary: #24242b;
$color-text-d-secondary: #464650;
$color-text-d-tertiary: #bab5c7;

$color-text-body: #bbc0c6;

$color-bg: #f1ecf7;
$color-bg-m: #c3b5dd;

$color-purple: #3f004a;
$color-purple-d: #210626;
$color-purple-l: #ddc6f6;


$font-header: 2.7rem;
$font-header-sm: 2.3rem;

$font-sans: 'Nunito', sans-serif;
$font-serif: 'Merriweather', serif;
